* {
	font-family: 'Oswald', serif;
}

header {
	margin-bottom: 10px;
	text-align: center;
	
}

h1 {
  font-size: 35px;
}
h2 {
  font-size: 20px;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  border-bottom: 1px solid #921D98;
  background: #E8D1F2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index:1000;
}
.menu li {
  display: inline-block;
  padding: 20px 35px;
}
.menu a {
  text-decoration: none;
  color: #161417;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}

.banner {
	background: url("../images/oxi.jpg");
	width: 100%;
	min-height: 400px;
	margin-bottom: 90px;
}

.banner .col-12 {
	text-align: center;
	color: #C8BECE;
	font-weight: bold;
	padding-top: 50px;
}

.banner .col-12 h1 {
	font-size: 3em;
}

.banner .col-12 p {
	font-size: 2em;
}

.about {
	margin-bottom: 80px;
}

.about h2 {
	text-align: center;
	margin: 20px 0px 30px 0px;
	color: #921D98;
}

.about .profile {
	float: left;
	width: 180px;
	margin: 0px 20px 20px 0px;
	border: 1px solid #000;
}

.about p {
	font-size: 90%;
}

.favourites {
	margin: 30px 0px 20px;
}

.favourites h2 {
	color: #921D98;
	margin: 20px 0px;
	text-align: center;
}

.favourites h3 {
	margin: 10px 0px 30px;
	color: #921D98;
	text-align: center;
}

.favourites .thumb {
	border-radius: 50%;
	border: 4px solid #921D98;
	padding: 3px;
}

.favourites .favourite {
	border-radius: 50%;
	width: 100%;
	display: block;
	height: auto;
}

.contact {
  text-align: center;
  background: url('../images/fo3.jpg');
}

.contact h2 {
	color: #921D98;
	margin: 80px 2px 20px;
}

.contact img {
  margin: 5px;
}